*{
    margin: 0
    
}
*{
    box-sizing: 0
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Sofia&display=swap');


#logo{
    width: 100%;
    height: 500px;
}
h1{
  margin-bottom: 20px;
  margin-left: 550px;
  margin-right: 50px;
}

header{
    font-family: "Roboto", sans-serif;
   width: 100%;
   background-color: black;
   margin-top: 0px;
   margin-bottom: 30px;
}
#presentaciones{
    font-family: "Roboto", sans-serif;
text-align: center;
}

#borde{
    background-color: currentColor;
    display: block;
    flex: 1;
    height: 2px;
    opacity: .1;
    box-sizing: border-box;
    flex-grow: 1;
    flex-shrink: 1;
    line-height: 32px; 
    margin-bottom: 30px; 
}
#texto{
    font-family: "Sofia", cursive;
   text-align: center;
    font-size: large;
    height: 100px;
    padding-inline: 5%;  
    margin-top: 5px;
}
#hola{
    font-family: "Roboto", sans-serif;
    text-align: center;
}
/* De aca para abajo todo main */

.franquicias{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    margin-inline: 100px;
    font-size: larger;
}
nav{
    text-decoration: none;
    color: #000;
}

.lol{
    width: 220px;
    height: 120px;
    margin-right: 40px;
    margin-left: 80px;
    margin-bottom: 30px;
}
.nombres{
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-size: larger;
}
.contenedorF{
    display: flex;
    width: 100%;
}

.figuras{
    padding: 0;
    margin-right: 30px;
    display: flex;
    width: 300px;
    height: 300px;
    margin-left: 30px;
}
/* Tarjetas de figuras con precio */
.tarjetas{
    text-align: center;
    font-weight: bolder;
    font-size: larger;
    font-family: "Roboto", sans-serif;
    margin-top: 40px;
}
.efectivo{
    color: red;
    font-size: small;
}

/* De aca para abajo todo footer */
footer{
    background-color: gray;
    font-family: "Roboto", sans-serif;
    width: 100%;
    margin-top: 40px;
    display: flex;
}
.nosotros{
    margin-top: 40px;
    margin-bottom: 40px;
    
    font-family: "Roboto", sans-serif;
    font-size: x-large;
    list-style: none;
    color: white;

   
   

}
#home{
    width: 80px;
    height: 60px;
}
.logosociales{
    width: 40px;
    height: 30px;
    display: flex;
    margin-right: 10px;
   
}
.infosociales{
    font-family: "Roboto", sans-serif;
    color: white;
    font-size: x-large;
    margin: 0;
    display: flex;
    align-items: center;

   
}
.cajasociales{
   display: flex;
   align-items: center;
   margin-bottom: 10px;
   margin-top: 20px;
   margin-left: 50px;
}

.ayuda{
    color: white;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    margin-left: 10px;
    font-size: xx-large;
}
.data{
    margin-right: 50px;
    margin-left: 50px;
    text-align: center;
}



